services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    user: node
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app           # code backend
      - db-data:/app/database    # volume pour SQLite
      - /app/node_modules        # Protège node_modules
      - /app/artifacts           # Protège artifacts (Hardhat compiled contracts)
      - avatars-data:/app/avatars   # <-- pour stocker les avatars
    environment:
      NODE_ENV: development
    networks:
      - app_network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app_network
    restart: unless-stopped

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.dev
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - backend
      - frontend
    networks:
      - app_network
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - avatars-data:/app/avatars:ro   # lecture seule pour Nginx
    restart: unless-stopped


## --- PROMETHEUS --- ###
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./monitoring/prometheus.rules.yml:/etc/prometheus/prometheus.rules.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - app_network

## --- GRAFANA --- ###
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "5000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_AUTH_ANONYMOUS_ENABLED: "false"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - ./monitoring/grafana/dashboards:/etc/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - app_network

## --- CADVISOR --- ###
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      # - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - app_network

## --- NODE-EXPORTER --- ###
  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9101:9100"
    networks:
      - app_network

## --- NGINX-EXPORTER --- ###
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx-exporter
    command:
      - "--nginx.scrape-uri=http://nginx:80/stub_status"
    ports:
      - "9113:9113"
    depends_on:
      - nginx
    networks:
      - app_network

volumes:
  db-data:
  avatars-data:
  prometheus_data:
  grafana_data:

networks:
  app_network:   # ou app-network, mais assurer le même nom partout
    driver: bridge
